*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* USER STYLES */

body {
  font-family: Helvetica, Arial, sans-serif;
  --light-grey: #f5f5f5;
  --grey: #d1d1d1;
  --dark-grey: #707073;
}

.nav-top {
  display: flex;
  align-items: center;
  background-color: var(--light-grey);
  justify-content: flex-end;
  padding: 10px 45px;
}

.nav-middle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  position: relative;
  padding: 12px 50px;
}

.nav-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey);
  border-bottom: 1px solid var(--grey);
  padding: 10px 45px;
  gap: 20px;
}

.list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.user-menu {
  font-size: 12px;
  gap: 10px;
}

.user-menu > li:hover {
  cursor: pointer;
}

.separator {
  user-select: none;
}

.logo {
  grid-column: 1;
  width: 60px;
}

.categories {
  padding: 0px;
  grid-column: 2;
  justify-self: center;
  left: 35%;
  font-weight: 600;
  font-size: 16px;
  justify-self: center;
  gap: 25px;
  margin: 0px auto;
}

.categories > li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav-bottom > span:nth-child(1) {
  font-weight: bold;
  font-size: 14px;
}

.nav-bottom > span:nth-child(2) {
  font-size: 12px;
}

.search-container {
  grid-column: 3;
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-bar {
  position: relative;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 6px;
}

#search {
  display: flex;
  justify-content: flex-end;
  background-color: var(--light-grey);
  border: none;
  padding: 5px 5px 5px 15px;
  border-radius: 25px;
}

#search:hover,
#search:focus {
  background-color: var(--grey);
}

.icons {
  display: flex;
  gap: 15px;
}

.icons > img {
  width: 34px;
  border-radius: 50%;
  padding: 5px;
}

.icons > img:hover {
  background-color: var(--grey);
}

.icon:hover {
  cursor: pointer;
}

main {
  padding: 30px 100px;
  width: 100vw;
  display: grid;
  grid-template-columns: 65% 35%;
  gap: 30px;
}

main > canvas {
  background-color: var(--light-grey);
  border-radius: 15px;
}

.product-information {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-container {
  display: flex;
  flex-direction: column;
}

.title-container > h1 {
  font-size: 22px;
  font-weight: normal;
}

.title-container > h2 {
  font-size: 18px;
  font-weight: normal;
  color: var(--dark-grey);
}

.price {
  font-size: 20px;
}

.customise {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.surface-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-grey);
  padding: 0px 15px;
  border-radius: 5px;
  border: 1px solid var(--light-grey);
  cursor: pointer;
}

.surface-container > label {
  padding: 15px 0px;
  width: 90%;
  cursor: pointer;
}

.surface-container:hover {
  box-sizing: content-box;
  border: 1px solid var(--grey);
}

.color-picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}
.color-picker::-webkit-color-swatch {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.35);
}
.color-picker::-moz-color-swatch {
  border-radius: 50%;
  border: none;
  -moz-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.35);
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.35);
}

.reset-button,
.add-to-cart,
.size {
  cursor: pointer;
  border: none;
  background-color: var(--light-grey);
  border-radius: 5px;
  padding: 10px 15px;
  height: 50px;
}

.add-to-cart,
.size {
  margin-top: 15px;
}

.select-size {
  position: relative;
}

.size {
  width: 100%;
  padding: 0px 15px !important;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.drop-down {
  position: absolute;
  right: 10px;
  top: 40%;
}
